/* Style de la barre latérale */
.sidebar {
  width: 250px; /* Largeur par défaut */
  height: 100vh;
  background-color: #1e1e2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.sidebar.collapsed {
  width: 60px; /* Largeur réduite pour afficher seulement les icônes */
  padding: 20px 5px; /* Réduit l'espace intérieur */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-links li {
  width: 100%;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.nav-links li a mat-icon {
  font-size: 1.5rem;
}

.sidebar.collapsed .nav-links li a {
  justify-content: center; /* Centre les icônes */
  padding: 10px 0; /* Réduit le padding autour des icônes */
}

.sidebar.collapsed .nav-links li a span {
  display: none; /* Masque le texte lorsque la barre latérale est rétractée */
}

/* Style pour l'état actif des liens */
.nav-links li a.active-link,
.nav-links li a:hover {
  background-color: #29293d;
  transform: translateX(10px);
}

.sidebar.collapsed .nav-links li a.active-link,
.sidebar.collapsed .nav-links li a:hover {
  transform: none; /* Désactive la translation quand la barre est réduite */
}

/* Style de la section déconnexion */
.logout-section {
  margin-top: auto;
  border-top: 1px solid #29293d;
  padding-top: 20px;
}

.logout-section a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.sidebar.collapsed .logout-section a {
  justify-content: center; /* Centre les icônes de déconnexion */
  padding: 10px 0; /* Réduit le padding autour des icônes */
}

.logout-section a mat-icon {
  font-size: 1.5rem;
}

/* Pied de page de la barre latérale */
.sidebar-footer {
  margin-top: 20px;
  font-size: 0.9rem;
  text-align: center;
  color: #aaa;
}

.sidebar.collapsed .sidebar-footer {
  display: none; /* Masque le pied de page lorsque la barre latérale est rétractée */
}

.toggle-button {
  text-align: right;
  margin-bottom: 20px;
}

.toggle-button button {
  color: #fff;
}

.logo-section {
  width: 150px;
  height: 10px;
  margin-bottom: 42px;
}

.logo-section img {
  width: 200px;
  height: 150px;

}

.logo_section_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
