<nav class="sidebar" [class.collapsed]="isCollapsed">

  <div class="logo_section_header">
  <div class="logo-section" *ngIf="!isCollapsed">
    <img src="assets/SHARY.png" alt="SHARY" />
  </div>
  <div class="toggle-button">
    <button mat-icon-button (click)="toggleSidebar()">
      <!-- Utilisation des chevrons pour indiquer l'ouverture/fermeture -->
      <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>
</div>

  <!-- Logo en haut -->


  <!-- Navigation au milieu -->
  <ul class="nav-links">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="!isCollapsed">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/profil" routerLinkActive="active-link">
        <mat-icon>account_circle</mat-icon>
        <span *ngIf="!isCollapsed">Profil</span>
      </a>
    </li>
    <li>
      <a routerLink="/calendar" routerLinkActive="active-link">
        <mat-icon>event</mat-icon>
        <span *ngIf="!isCollapsed">Calendrier</span>
      </a>
    </li>
    <li>
      <a routerLink="/competences" routerLinkActive="active-link">
        <mat-icon>psychology</mat-icon>
        <span *ngIf="!isCollapsed">Compétence</span>
      </a>
    </li>
    <li>
      <a routerLink="/favorites" routerLinkActive="active-link">
        <mat-icon>favorite</mat-icon>
        <span *ngIf="!isCollapsed">Favoris</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active-link">
        <mat-icon>settings</mat-icon>
        <span *ngIf="!isCollapsed">Paramètres</span>
      </a>
    </li>

    <!-- Déconnexion en bas -->
    <li class="logout-section">
      <a (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span *ngIf="!isCollapsed">Déconnecter</span>
      </a>
    </li>
    <li>
      <a routerLink="/matchs" routerLinkActive="active-link">
        <mat-icon>find_replace</mat-icon>
        <span>Mes matchs</span>
      </a>
    </li>
  </ul>

  <!-- Pied de page de la barre latérale -->
  <div class="sidebar-footer" *ngIf="!isCollapsed">
    <p>© 2024 SHARY. All rights reserved.</p>
  </div>
</nav>
