<div class="privacy-container">
  <h1>Politique de Confidentialité</h1>

  <p><strong>Dernière mise à jour :</strong> 19/09/2024</p>

  <h2>1. Informations que nous collectons</h2>
  <p>
    Nous collectons différents types d’informations pour vous fournir et améliorer nos services :
  </p>
  <ul>
    <li>
      <strong>Informations que vous nous fournissez :</strong> Lorsque vous créez un compte ou interagissez avec notre plateforme, nous collectons des informations telles que votre nom, adresse email, et toute autre information que vous fournissez volontairement (par exemple, votre profil LinkedIn).
    </li>
    <li>
      <strong>Informations techniques :</strong> Nous recueillons des données techniques, telles que votre adresse IP, votre navigateur, et d'autres informations liées à votre navigation, afin d'améliorer l'expérience utilisateur.
    </li>
    <li>
      <strong>Données d’utilisation :</strong> Nous analysons l’utilisation de notre service, telles que les pages que vous visitez, afin de comprendre vos préférences et améliorer notre plateforme.
    </li>
  </ul>

  <h2>2. Utilisation de vos données</h2>
  <p>Les données que nous collectons peuvent être utilisées pour :</p>
  <ul>
    <li>Créer et gérer votre compte utilisateur.</li>
    <li>Améliorer et personnaliser votre expérience utilisateur.</li>
    <li>Vous fournir des services de support client.</li>
    <li>Analyser l’utilisation de notre site web pour améliorer nos fonctionnalités.</li>
    <li>Vous informer des mises à jour de nos services, des offres et des événements.</li>
  </ul>

  <h2>3. Partage de vos données</h2>
  <p>
    Nous ne vendons pas, n’échangeons pas et ne louons pas vos données personnelles. Cependant, nous pouvons partager vos informations dans les situations suivantes :
  </p>
  <ul>
    <li>
      Avec des <strong>fournisseurs tiers</strong> qui nous aident à exploiter notre service (par exemple, les prestataires de services cloud).
    </li>
    <li>
      Si nous sommes légalement obligés de le faire pour se conformer à une <strong>demande gouvernementale</strong> ou pour protéger les droits de Shary.
    </li>
  </ul>

  <h2>4. Sécurité de vos données</h2>
  <p>
    Nous prenons la sécurité de vos informations très au sérieux. Nous utilisons des mesures de sécurité techniques et organisationnelles pour protéger vos données contre tout accès non autorisé, perte ou divulgation.
  </p>

  <h2>5. Vos droits</h2>
  <p>
    En tant qu’utilisateur, vous disposez des droits suivants concernant vos données :
  </p>
  <ul>
    <li><strong>Accès :</strong> Vous pouvez demander une copie des données personnelles que nous détenons à votre sujet.</li>
    <li><strong>Rectification :</strong> Si vos données sont incorrectes, vous pouvez les corriger.</li>
    <li><strong>Suppression :</strong> Vous pouvez demander la suppression de vos données personnelles sous certaines conditions.</li>
    <li><strong>Opposition :</strong> Vous avez le droit de vous opposer à l'utilisation de vos données dans certains cas.</li>
  </ul>

  <h2>6. Cookies</h2>
  <p>
    Nous utilisons des <strong>cookies</strong> pour améliorer votre expérience sur notre plateforme. Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela peut affecter votre utilisation de certaines fonctionnalités.
  </p>

  <h2>7. Modifications de cette politique</h2>
  <p>
    Nous pouvons mettre à jour cette politique de confidentialité de temps à autre. Nous vous informerons des modifications importantes par e-mail ou via notre site web.
  </p>

  <h2>8. Contact</h2>
  <p>
    Si vous avez des questions concernant cette politique de confidentialité ou vos données personnelles, veuillez nous contacter à l’adresse suivante :
  </p>
  <h4>shary.contact@gmail.com</h4>
  <address>
    <strong>SHARY</strong><br />
  </address>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="goBack()">
     <a routerLink="/register">Retour</a>
    </button>
  </div>

</div>

