<div class="competences-container">
  <!-- Barre de recherche et bouton filtre -->
  <div class="search-filter-bar">
    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Rechercher des compétences</mat-label>
      <input matInput placeholder="Rechercher" [(ngModel)]="searchQuery" (ngModelChange)="filterUsers()" />
      <button mat-icon-button matSuffix aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-slide-toggle class="filter-button" [(ngModel)]="isProfileVisible" color="primary">
      Profil matches
    </mat-slide-toggle>
  </div>

  <div class="competences-section">
    <div class="competences-cards">
      <mat-card
        *ngFor="let user of pagedUsers"
        class="competence-card"
        [routerLink]="['/competence', user.id]"
      >
        <mat-card-header class="card-header-competences">
          <mat-card-title class="title_card_section">
            <div mat-card-avatar class="profile-avatar">
              <mat-icon>account_circle</mat-icon>
            </div>
            {{ user.username }}
            <span class="author-name">{{ user.authorName }}</span>
          </mat-card-title>
          <mat-icon color="primary">favorite_border</mat-icon>
        </mat-card-header>
        <h3 class="title_comp">Ces compétences</h3>
        <mat-card-content>
          <div class="competence-details">
            <div class="selected-skills">
              <button mat-raised-button *ngFor="let skill of user.competences">
                {{ skill.comptenceName }}
              </button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer class="card-footer"></mat-card-footer>
      </mat-card>
    </div>

    <!-- Pagination pour les utilisateurs -->
    <mat-paginator
      #paginatorRecherchees
      [length]="users.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[6]"
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>
