/* Container principal */
.competences-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 220px;
  margin-top: 60px;
}


.competences-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 170px;
  margin-top: 60px;
}

/* Section des compétences */
.competences-section {
  margin-bottom: 40px;
}

/* Conteneur des cartes */
.competences-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centrer les cartes */
}

/* Carte de compétence */
.competence-card {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pour espacer le footer en bas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère pour les cartes */
  border-radius: 8px; /* Bords arrondis pour les cartes */
  transition: transform 0.2s ease; /* Effet de zoom au survol */
}

.competence-card:hover {
  transform: scale(1.02); /* Zoom au survol */
}

/* En-tête de carte */
.card-header-competences {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

/* Icône du profil */
.profile-avatar {
  background-color: #3f51b5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 40px; /* Taille de l'icône de l'auteur */
  margin-right: 10px; /* Espacement à droite de l'icône */
}

/* Titre de la carte */
.title_comp {
  margin-left: 18px;
  margin-bottom: 25px;
  font-weight: bold;
}

/* Détails des compétences */
.selected-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

/* Pied de carte */
.card-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.card-footer mat-icon {
  font-size: 24px; /* Taille de l'icône */
  margin: 8px;
}

/* Pagination */
mat-paginator {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

/* Titre de l'en-tête de carte */
.title_card_section {
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
